# App 
APP_PORT=
MARKET_REFRESH_INTERVAL=
# Auth
OTP_EXPIRATION_MINUTES=
JWT_SECRET_KEY=
#Database 
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Redis
REDIS_URL=
# SMTP 
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_PASSWORD=
SMTP_USERNAME=

# ZarinPal
ZARINPAL_MERCHANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ZARINPAL_PAYMENT_REQUEST_URL=https://sandbox.zarinpal.com/pg/v4/payment/request.json
ZARINPAL_PAYMENT_VERIFY_URL=https://sandbox.zarinpal.com/pg/v4/payment/verify.json
ZARINPAL_START_PAY_URL=https://sandbox.zarinpal.com/pg/StartPay/
ZARINPAL_CALLBACK_URL=http://localhost:8000/api/transaction/callback
